/*limpando formatação padrão*/

*{
    margin:0 ;
    padding:0 ;
}

body{

    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
}


/*layout*/

#area_cabecalho{
    background: #f7b600;
    padding: 16px;
    text-align: center;
}

#area_logo, #menu{
    padding: 10px;
}

#area_principal{
    
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area_postagens{
    width: 660px;
    float:left;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px; 
    background: white;   
}

#area_lateral{
    width:240px;
    float:right;
}

#conteudo_lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.post_lateral{
    font-size: 0.8em;
    padding:5px;
    border-bottom: 1px dotted #CCC;
}


#footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
   
}


/*menus*/

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#area_cabecalho a:link, #area_cabecalho a:visited{
    color: #FFF;
    padding: 8px 12px;
}

#area_cabecalho a:hover{
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}



.branco{
    color: white;
}

/*formatações gerais*/



h1{
    color: white;
    font-size: 2.5em ;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background: #f7b600;
    padding: 5px;
}

.data_postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}








